.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.app-name{
    margin: 20px;
    font-size: 40px;
    font-weight: 900;
}

